<h1>Hello, <%= username %>!</h1>
<h4 style="font-weight: normal;" >Add tasks to your list by typing to the right, selecting an image and pressing the button. You may then view pending tasks below...<h4>